<mat-card class="matcard maximo minimo">
  <div class="col matcard minimo">
    <div class="card h-100 minimo">
      <div class="posicionPerfil acomodar">
        <img
          class="bordeRedondeado zetaIndex mr20"
          src="../../../assets/imagenes/fotoperfil4.png"
          alt="foto de perfil"
          height="300"
          width="300 "
        />
      </div>
      <div class="margins">
        <div class="card-body letraColor">
          <div class="card-body" style="text-align: center">
            <h1
              class="fs-1 tamaLetra letraNombre letraColor"
              style="font-weight: 600"
            >
              Jorge Zimmermann
            </h1>
            <h5 class="fs-4 letraSubtit letraColor ml20 mr20">
              Full Stack Developer
            </h5>
            <br />
            <p class="card-text fs-6">
              ¡Hola! Soy Jorge, un apasionado desarrollador de software con
              experiencia en la creación de soluciones tecnológicas innovadoras.
              Mi fascinación por la tecnología y su capacidad para impactar
              positivamente en la vida de las personas me llevó a dedicarme al
              desarrollo web y de software. Actualmente, me enfoco en aprender
              sobre patrones de diseño y desarrollo móvil para mejorar la
              calidad y eficiencia de mis proyectos. Creo firmemente en
              mantenerme actualizado con las últimas tendencias y herramientas
              para ofrecer soluciones de vanguardia a mis clientes. Cuando no
              estoy codeando, me encanta explorar nuevas tecnologías, me gusta
              hacer deportes y disfrutar del aire libre. Soy un defensor
              entusiasta del modo oscuro en todas las aplicaciones. ¡Estoy
              emocionado por las oportunidades futuras y los desafíos que me
              esperan en el mundo del desarrollo de software!

              <br /><br />
              Explora mi portfolio para conocer más sobre mis proyectos y
              habilidades.
            </p>
            <p class="card-text mt40">
              <small style="color: burlywood"
                >Si tienes alguna pregunta o estás interesado en colaborar, no
                dudes en contactarme.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
