<mat-card class="matcard maximo minimo">
  <div class="col matcard minimo">
    <div class="card h-100 minimo">
      <div class="posicionPerfil acomodar">
        <img
          class="bordeRedondeado zetaIndex mr20"
          src="../../../assets/imagenes/fotoperfil4.png"
          alt="foto de perfil"
          height="300"
          width="300 "
        />
      </div>
      <!--  
      <h1 class="letraNombre letraColor ml20">{{ miPortfolio.nombre }}</h1>
      <h1 class="letraNombre letraColor ml20">{{ miPortfolio.apellido }}</h1>
      -->
      <div class="card-body" style="text-align: center;">
        <h1
          class="fs-1 tamaLetra letraNombre letraColor"
          style="font-weight: 600;"
        >
          Jorge Zimmermann
        </h1>
        <h5 class="fs-4 letraSubtit letraColor ml20 mr20">Data Analyst</h5>
        <h5 class="fs-4 letraSubtit letraColor ml20 mr20">Data Scientist</h5>
        <h5 class="fs-4 letraSubtit letraColor ml20 mr20">
          Full Stack Developer
        </h5>
      </div>
    </div>
  </div>
</mat-card>
