<div class="bootstrap-wrapper">
  <div class="container">
     <div class="row mt10">
          <div class="col-md-6 offset-md-3" >
              <mat-card class="mb20">
                <mat-card class="contenedor_alado" >
                  <div class=" contenedor_alado ">
                    <div class="containermt20 mb20 ml10 mt10 contenedor_alado">
                      
                      <img class="bordeRedondeado" width="200" height="200" [src] = " miPortfolio.fotoPerfil " alt="foto perfil" >
                    </div>
                    
                  <div class="p-2 g-col-6 mt50 bordeRedondeado ml70" href="www.google.com"><img class="bordeRedondeado"
                    src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/argentinaPrograma.png?raw=true"
                    alt="Argentina Programa" width="150" height="50" ></div>
                  <div class="p-2 g-col-6 mt50 bordeRedondeado mr10"><img class="bordeRedondeado"
                    src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenCoder2.jpg?raw=true"
                    alt="Coderhouse" width="150" height="50"></div>
                  <div class="p-2 g-col-6 mt50 bordeRedondeado mr10"> <img class="bordeRedondeado" src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenSilicon.png?raw=true"
                    alt="Silicon Misiones" width="150" height="50"></div>
                  <div class="p-2 g-col-6 mt50 bordeRedondeado"><img class="bordeRedondeado" src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenDatalytics.png?raw=true"
                    alt="datalytics" width="150" height="50"></div>
                  </div>
                </mat-card>
                  
              </mat-card>
              <mat-card>
                <h1 class="ml10 mt50 letraNombre">{{ miPortfolio.nombre }} {{miPortfolio.apellido}} </h1>
                <br>
                <div class="ml10">
                  <h5 class="letraSubtit">Analista de Sistemas</h5>
                  <h5 class="letraSubtit">Data Analyst</h5>
                  <h5 class="letraSubtit">Data Scientist</h5>
                  <h5 class="letraSubtit">Full Stack Developer</h5>
                </div>
              </mat-card>


          </div>
     </div>
  </div>
</div>


