.zetaIndex {
  position: relative;
  z-index: 9;
}

.posicionPerfil {
  position: relative;
  margin: 0 auto;
  margin-top: 10vh
}

.letraNombre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.letraSubtit {
  font-size: 150%;
  font-weight: 70%;
}

.bordeRedondeado {
  border-radius: 50%;
  object-fit: cover
}

.matcard,
div {
  background-color: #20202000;
  
}

div img {
  background-color: rgba(110, 110, 110, 0.411);
  padding: 2%;
  max-height: 200px;
}

div p {
  color: white;
  min-height: 100px;
}

h2 {
  color: white;
}
