<mat-card
  class="maximo minimo tamanoMin zetaIndex"
  style="background-color: #2020208e"
>
  <div class="posicionPerfil">
    <img
      style="object-fit: cover"
      class="bordeRedondeado zetaIndex mr20"
      src="../../../assets/imagenes/fotoperfil4.png"
      alt="foto de perfil"
      height="200"
      width="200"
    />
  </div>
  <div class="div-center">
    <!--  
    <h1 class="letraNombre letraColor ml20">{{ miPortfolio.nombre }}</h1>
    <h1 class="letraNombre letraColor ml20">{{ miPortfolio.apellido }}</h1>
    -->
    <h1 class="tamaLetra letraNombre letraColor" style="font-weight: 600"></h1>
    <h1 class="fs-1 tamaLetra letraNombre letraColor" style="font-weight: 600">
      Jorge Zimmermann
    </h1>

    <br />

    <h5 class="fs-4 letraSubtit letraColor ml20 mr20">Analista de Sistemas</h5>
    <h5 class="fs-4 letraSubtit letraColor ml20 mr20">Data Analyst</h5>
    <h5 class="fs-4 letraSubtit letraColor ml20 mr20">Data Scientist</h5>
    <h5 class="fs-4 letraSubtit letraColor ml20 mr20">Full Stack Developer</h5>
  </div>
</mat-card>
