<mat-card class="matcard">
  <div
    id="carouselExampleAutoplaying3"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying3"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying3"
        data-bs-slide-to="1"
        aria-current="true"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
          <div class="card h-100">
            <a href="https://questie-rust.vercel.app/" target="_blank">
              <img
                src="../../../assets/imagenes/Captura de pantalla 2024-06-04 120241.png"
                class="card-img-top fotos"
                alt="..."
              />
            </a>
            <div class="card-body">
              <a
                target="_blank"
                href="https://questie-rust.vercel.app/"
                style="text-decoration: none; color: inherit"
              >
                <h2>Questie</h2>
              </a>
              <h3>
                Questie es una plataforma E-learning desarrollada por nuestro
                equipo como proyecto final en Henry.
              </h3>
              <p class="card-text">
                - Contenido diverso y gratuito: Ofrecemos una amplia gama de
                cursos gratuitos en diversos temas, desde desarrollo web hasta
                marketing digital.
                <br />
                - Cursos monetizados: También existe la opción de crear y vender
                cursos propios. <br />
                - Sistema de "coins": Acumula "coins" completando cursos o
                comprándolas para acceder a contenido exclusivo. <br />
                - Puntos y experiencia: Gana puntos y experiencia completando
                cursos y desafíos, y canjéalos por premios como lecciones,
                módulos o cursos extras. <br />
                - Autenticación flexible: Inicia sesión con tu correo
                electrónico o con tus cuentas de Github, Google, Apple o
                Facebook.
                <br />
                - Sistema de valoraciones: La comunidad decide qué cursos son
                los mejores.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <a
              href="https://questie-back-latest.onrender.com/api"
              target="_blank"
            >
              <img
                src="../../../assets/imagenes/Captura de pantalla 2024-06-04 132754.png"
                class="card-img-top fotos"
                alt="..."
              />
            </a>
            <div class="card-body">
              <a
                href="https://questie-back-latest.onrender.com/api"
                style="text-decoration: none; color: inherit"
                target="_blank"
              >
                <h2>Questie Backend</h2>
              </a>
              <h3>
                Es el motor que impulsa nuestra plataforma E-learning,
                proporcionando una base sólida para todas sus funcionalidades.
              </h3>
              <p class="card-text">
                - Completo y documentado: Cuenta con todos los endpoints
                necesarios para el funcionamiento de la aplicación,
                cuidadosamente documentados con Swagger para facilitar su acceso
                y comprensión. <br />
                - Acceso abierto: Explora y prueba todos los endpoints a través
                de este enlace:
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying3"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying3"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</mat-card>
