<div class="bootstrap-wrapper ">
  <div class="container ">
     <div class="row mt20 ">
          <div class="col-md-6 offset-md-3 " >
              <mat-card class="mb20 " >
                  <div class="texte-center">
                    <h1 class="texte-center">Experiencia Laboral</h1>
                    <mat-grid-list cols="2" rowHeight="6:1">
                      
                      <mat-grid-tile>
                        <span class="mr10">
                          Gampel comunicaciones SRL
                          <br>
                          Empleado a tiempo parcial
                          06/18 - 02/19
                        </span>
                        <div class="p-2 g-col-6"> <img class="bordeRedondeado" 
                          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenGampel.png?raw=true"
                          alt="Silicon Misiones" width="150" height="50"></div>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <span class="mr10">
                          Crediser Argentina SA
                          <br>
                          Empleado a tiempo parcial
                          06/19 - ACTUALIDAD
                        </span>
                        <div class="p-2 g-col-6"><img class="bordeRedondeado"
                          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenCrediser.png?raw=true"
                          alt="datalytics" width="150" height="50"></div>
                        </mat-grid-tile>
                        </mat-grid-list>
                  </div>
              </mat-card>
          </div>
     </div>
  </div>
</div>
