<div class="row row-cols-1 row-cols-md-3 g-4 mt10" style="background-color: rgba(0, 0, 0, 0); padding: 2%">
  <div class="col" style="background-color: rgba(0, 0, 0, 0)">
    <div class="card h-100" style="background-color: rgba(0, 0, 0, 0)">
      <img
        style="background-color: rgba(110, 110, 110, 0.411); padding: 2%; max-height: 150px"
        src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenGampel.png?raw=true"
        class="card-img-top fotos"
        alt="..."
      />
      <div
        class="card-body"
      >
        <h2 style="color: white">Gampel comunicaciones SRL</h2>
        <h5 style="color: white">Empleado a tiempo parcial 04/18 - 05/19</h5>
        <p class="card-text" style="color: white">
          Como Especialista Técnico en Gampel Comunicaciones SRL, pasé un año y
          nueve meses realizando reparaciones, administrando cobros por
          servicios y manteniendo registros de clientes. Contribuí al
          funcionamiento eficiente de la empresa, asegurando la satisfacción del
          cliente y el éxito general.
        </p>
      </div>
    </div>
  </div>
  <div class="col" style="background-color: rgba(0, 0, 0, 0);">
    <div class="card h-100" style="background-color: rgba(0, 0, 0, 0)">
      <img
        style="background-color: rgba(110, 110, 110, 0.411); padding: 2%;max-height: 150px"
        src="../../../assets/imagenes/crediser22.png"
        class="card-img-top fotos"
        alt="..."
      />
      <div
        class="card-body"
      >
        <h2 style="color: white">Crediser Argentina SA</h2>
        <h5 style="color: white">
          Empleado a tiempo parcial 06/19 - Actualidad
        </h5>
        <p class="card-text" style="color: white">
          Como Cajero-Vendedor en Crediser Argentina SA, una empresa financiera
          nacional de créditos personales, durante tres años y nueve meses, me
          encargué de conceder créditos, vender electrodomésticos, brindar
          atención al cliente y realizar tareas administrativas. Mi contribución
          fue esencial para el éxito y la satisfacción de los clientes.
        </p>
      </div>
    </div>
  </div>
</div>