.letra {
  font-size: 150px; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.abajo{
margin-top: 20%;
}

.bg-6{
background-color: #000000;
height: 20px
}

.glitch {
color: white;
font-size: 120px;
position: relative;
width: 800px;
margin: 0 auto;
font-family: 'Varela', sans-serif;
}
