<!-- <mat-card class="matcard maximo minimo">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6">
        <div class="margins">
          <div class="card-body letraColor">
            <h1 class="letraNombre fs-1">Jorge Zimmermann</h1>
            <h1 class="letraNombre"></h1>
            <br />
            <p class="card-text fs-6">
              Soy un profesional con conocimientos y experiencia en tecnologías
              de desarrollo de software y herramientas de análisis de datos. Me
              apasiona resolver problemas y crear soluciones eficientes y estoy
              comprometido con el aprendizaje continuo.
              <br /><br />
              Explora mi portfolio para conocer más sobre mis proyectos y
              habilidades.
            </p>
            <p class="card-text mt40">
              <small style="color: burlywood;"
                >Si tienes alguna pregunta o estás interesado en colaborar, no
                dudes en contactarme.</small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 sacarMargen esconder">
        <img
          class="full-width100 esconder"
          src="../../../assets/imagenes/logo-no-background.svg"
          alt=""
          height="200"
          width="200"
        />
      </div>
    </div>
  </div>
</mat-card>
 -->

<mat-card class="matcard maximo minimo">
  <div class="col matcard minimo">
    <div class="card h-100 minimo">
      <div class="posicionPerfil acomodar">
        <img
          class="bordeRedondeado zetaIndex mr20"
          src="../../../assets/imagenes/fotoperfil4.png"
          alt="foto de perfil"
          height="300"
          width="300 "
        />
      </div>
      <div class="margins">
        <div class="card-body letraColor">
          <div class="card-body" style="text-align: center">
            <h1
              class="fs-1 tamaLetra letraNombre letraColor"
              style="font-weight: 600"
            >
              Jorge Zimmermann
            </h1>
            <h5 class="fs-4 letraSubtit letraColor ml20 mr20">
              Full Stack Developer
            </h5>
            <br />
            <p class="card-text fs-6">
              Hi! I'm Jorge, a passionate software developer specializing in
              creating innovative technological solutions. My love for
              technology and its positive impact on people's lives has guided me
              towards web and software development. Currently, I am dedicated to
              perfecting my skills in design patterns and mobile development to
              improve the quality and efficiency of my projects. I always stay
              updated with the latest trends and tools to offer cutting-edge
              solutions to my clients. Outside of work, I enjoy exploring new
              technologies, playing sports, and spending time outdoors.
              Additionally, I'm a fervent advocate of dark mode in all
              applications. I am excited about future opportunities and
              challenges in the world of software development.

              <br /><br />
              Explore my portfolio to learn more about my projects and skills.
            </p>
            <p class="card-text mt40">
              <small style="color: burlywood"
                >If you have any questions or are interested in collaborating,
                feel free to contact me.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
