<div class="bootstrap-wrapper">
    <div class="container">
       <div class="row mt20">
            <div class="col-md-6 offset-md-3" >
                <mat-card class="tercio-centrado mb20">
                    <div class="container text-center mt20 mb20">
                        <img src="../../../assets/imagenes/verificar.png" alt="" height="75" width="75">
                    </div>
                    <h1 class="text-center">Iniciar Sesion</h1>
                    <div class="dostercios-centrado">
                        <form (ngSubmit)="formSubmit()">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Nombre de usuario</mat-label>
                                <input [(ngModel)]="loginData.username" required name="username" matInput placeholder="Ingrese su nombre de usuario">
                                <mat-hint>El nombre de usuario debe ser valido</mat-hint>
                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input [(ngModel)]="loginData.password" required name="password" type="password" matInput placeholder="Ingrese su contraseña">
                                <mat-hint>La contraseña debe ser valida</mat-hint>
                            </mat-form-field>
                            <br>
                            <br>
                            <div class="container text-center mb20">
                                <button  mat-raised-button color="primary">Ingresar</button>
                                <button type="reset" style="margin-left : 20px" mat-raised-button color="ascent">cancelar</button>
                            </div>
                        </form> 
                    </div>
                </mat-card>
            </div>
       </div>
    </div>
</div>