
        <mat-card class="maximo minimo tamanoMin zetaIndex" style="background-color: #2020208e;">
          <div id="carouselExampleCaptions" class="carousel slide" style="background-color: #2020208e;">
            <div class="carousel-indicators" style="background-color: #2020208e;">
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="3"
                aria-current="true"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="4"
                aria-current="true"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner" style="background-color: #2020208e;">
              <div class="carousel-item active" style="background-color: #2020208e;">
                <img
                style="max-height:50%"
                  src="../../../assets/imagenes/logo-silicon.png"
                  class="card-img-top fotos"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">
                    Silicon Misiones
                  </mark></h5>
                  <p>
                    <mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">Aprovechando la oferta educativa de Silicon Misiones, he completado
                    cursos complementarios clave para mi desarrollo profesional. Estos
                    incluyen "Mejora tu ingles para Programar", "Bases de Datos desde
                    Cero" e "Introduccion a la Programación". Estos cursos han mejorado
                    mis habilidades en inglés técnico, bases de datos y programación,
                    fortaleciendo mi capacidad para enfrentar desafíos en el campo de la
                    programación.</mark>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                style="max-height:50%"
                  src="../../../assets/imagenes/logo_datalytics.png"
                  class="card-img-top fotos"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">
                    Analista de datos - Datalytics
                  </mark></h5>
                  <p>
                    <mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">En colaboración con Silicon Misiones y la prestigiosa empresa
                    Datalytics, participé en un curso especializado en análisis de datos
                    que enriqueció aún más mis habilidades. Durante este programa,
                    adquirí una sólida comprensión de bases de datos relacionales, así
                    como un dominio de SQL y la visualización de datos utilizando
                    herramientas avanzadas.</mark>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                style="max-height:50%"
                  src="../../../assets/imagenes/logos_coderhouse.png"
                  class="card-img-top fotos "
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">
                    Analista de datos y Cientifico de datos - Coderhouse
                  </mark></h5>
                  <p>
                    <mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">En Coderhouse, estudié análisis de datos y adquirí conocimientos
                      sólidos en bases de datos relacionales, SQL y visualización de datos
                      con Power BI. Utilicé estas habilidades para desarrollar un
                      dashboard en Power BI sobre la pandemia de COVID-19 en</mark>
                    Latinoamérica.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                style="max-height:50%"
                  src="../../../assets/imagenes/logo-argentina-programa!!.png"
                  class="card-img-top fotos"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5><mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">
                    Full Stack Web Developer - Argentina Programa</mark></h5>
                  <p>
                    <mark style="color:white; background-color: rgba(5, 5, 5, 0.39);">En el curso de Argentina Programa, me formé como desarrollador web
                      full stack, aprendiendo HTML, CSS, JavaScript, Angular, Spring Boot
                      y MySQL. Desarrollé este portfolio como resultado de mi aprendizaje,
                      creando aplicaciones web dinámicas y funcionales.</mark>
                  </p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </mat-card>
        