<mat-card class="matcard">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="3"
        aria-current="true"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="4"
        aria-current="true"
        aria-label="Slide 5"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../assets/imagenes/logo-henry-white-lg.png"
              class="card-img-top fotos"
              alt="..."
            />
            <div class="card-body">
              <h2>Henry</h2>

              <p class="card-text">
                Actualmente he completado mi formación en Henry, donde me he
                especializado en backend utilizando NestJS como framework. Tuve
                la oportunidad de trabajar en un proyecto de aplicación backend
                para un e-commerce, el cual desplegué en Render y documenté
                utilizando Swagger. Además, como parte de mi formación en Henry,
                culminé un proyecto final de e-learning llamado Questie, donde
                utilizamos NestJS, NextJS y PostgreSQL para el desarrollo full
                stack.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../assets/imagenes/logo-argentina-programa!!.png"
              class="card-img-top fotos"
              alt="..."
            />
            <div class="card-body">
              <h2>Full Stack Developer - Argentina Programa</h2>

              <p class="card-text">
                En el curso de Argentina Programa, me formé como desarrollador
                web full stack, aprendiendo HTML, CSS, JavaScript, Angular,
                Spring Boot y MySQL. Desarrollé este portfolio como resultado de
                mi aprendizaje, creando aplicaciones web dinámicas y
                funcionales.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../assets/imagenes/logos_coderhouse.png"
              class="card-img-top fotos"
              alt="..."
            />
            <div class="card-body">
              <h2>Analista de datos y Cientifico de datos - Coderhouse</h2>

              <p class="card-text">
                En Coderhouse, estudié análisis de datos y adquirí conocimientos
                sólidos en bases de datos relacionales, SQL y visualización de
                datos con Power BI. Utilicé estas habilidades para desarrollar
                un dashboard en Power BI sobre la pandemia de COVID-19 en
                Latinoamérica.
              </p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../assets/imagenes/logo-silicon.png"
              class="card-img-top fotos"
              alt="..."
            />
            <div class="card-body">
              <h2>Silicon Misiones</h2>

              <p class="card-text">
                Aprovechando la oferta educativa de Silicon Misiones, he
                completado cursos complementarios clave para mi desarrollo
                profesional. Estos incluyen "Mejora tu ingles para Programar",
                "Bases de Datos desde Cero" e "Introduccion a la Programación".
                Estos cursos han mejorado mis habilidades en inglés técnico,
                bases de datos y programación, fortaleciendo mi capacidad para
                enfrentar desafíos en el campo de la programación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../assets/imagenes/logo_datalytics.png"
              class="card-img-top fotos"
              alt="..."
            />
            <div class="card-body">
              <h2>Analista de datos - Datalytics</h2>

              <p class="card-text">
                En colaboración con Silicon Misiones y la prestigiosa empresa
                Datalytics, participé en un curso especializado en análisis de
                datos que enriqueció aún más mis habilidades. Durante este
                programa, adquirí una sólida comprensión de bases de datos
                relacionales, así como un dominio de SQL y la visualización de
                datos utilizando herramientas avanzadas.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</mat-card>
