<div class="bootstrap-wrapper ">
  <div class="container ">
     <div class="row mt20 ">
          <div class="col-md-6 offset-md-3 " >
              <mat-card class="mb20 " >
                  <div>
                    <h1>Educacion</h1>
                    <mat-grid-list cols="2" rowHeight="6:1">
                      <mat-grid-tile>
                        <span class="mr10"  >
                          Full Stack Web Developer
                          <br>
                          Argentina Programa
                        </span>
                        <div class="p-2 g-col-6" href="www.google.com"><img class="bordeRedondeado"
                          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/argentinaPrograma.png?raw=true"
                          alt="Argentina Programa" width="150" height="50" ></div>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <span class="mr10">
                          Analysta de datos y Cientifico de datos
                          <br>
                          Coderhouse
                        </span>
                        <div class="p-2 g-col-6"><img class="bordeRedondeado"
                          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenCoder2.jpg?raw=true"
                          alt="Coderhouse" width="150" height="50"></div>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <span class="mr10">
                          Analista de datos 
                          <br>
                          Silicon misiones con Datalytics
                        </span>
                        <div class="p-2 g-col-6"><img class="bordeRedondeado"
                          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenCertificadoSiliconData.png?raw=true"
                          alt="Coderhouse" width="150" height="50"></div>
                      </mat-grid-tile>
                      
                        </mat-grid-list>
                  </div>
              </mat-card>
          </div>
     </div>
  </div>
</div>
