<mat-card class="matcard">
  <div
    id="carouselExampleAutoplaying4"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="6"
        aria-current="true"
        aria-label="Slide 7"
      ></button>

      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="7"
        aria-current="true"
        aria-label="Slide 8"
      ></button>

      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="8"
        aria-current="true"
        aria-label="Slide 9"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying4"
        data-bs-slide-to="9"
        aria-current="true"
        aria-label="Slide 10"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
          <div class="card h-100">

            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #20202000; margin: auto " >
              <img
              src="../../../assets/imagenes/certificaciones/BasesDeDatosDesdeCero.png"
              class="card-img-top fotos"
              alt="..."
            />
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="modal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/BasesDeDatosDesdeCero.png"
                                class="card-img-top fotos"
                                alt="Certificado de bases de datos desde cero"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/BasesDeDatosDesdeCero.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="card-body">
              <h2>Polotic Misiones - Bases de datos desde cero</h2>
              <p class="card-text">
                Aprovechando la oferta educativa de Silicon Misiones y el
                Polotic, he completado cursos complementarios clave para mi
                desarrollo profesional fortaleciendo mi capacidad para enfrentar
                desafíos en el campo de la programación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="background-color: #20202000; margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/AcademiaDelProgramador-1.png"
                                class="card-img-top fotos"
                                alt="Certificado de bases de datos desde cero"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/AcademiaDelProgramador-1.png"
                                class="card-img-top fotos"
                                alt="Certificado de bases de datos desde cero"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones//AcademiaDelProgramador.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h2>Silicon Misiones - Academia del Programador</h2>
              <p class="card-text">
                Aprovechando la oferta educativa de Silicon Misiones y el
                Polotic, he completado cursos complementarios clave para mi
                desarrollo profesional fortaleciendo mi capacidad para enfrentar
                desafíos en el campo de la programación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" style="background-color: #20202000; margin: auto " >
              <img src="../../../assets/imagenes/certificaciones/CertificadoIngles.png" class="card-img-top fotos" alt="Certificado Mejora tu ingles para programar"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/CertificadoIngles.png"
                                class="card-img-top fotos"
                                alt="Certificado Mejora tu ingles para programar"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/CertificadoIngles.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="card-body">
              <h2>Silicon Misiones - Mejora tu ingles para programar</h2>
              <p class="card-text">
                Aprovechando la oferta educativa de Silicon Misiones y el
                Polotic, he completado cursos complementarios clave para mi
                desarrollo profesional fortaleciendo mi capacidad para enfrentar
                desafíos en el campo de la programación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">


            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop4" style="background-color: #20202000; margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/CertificadodeData&Analytics.png"
                                class="card-img-top fotos"
                                alt="Certificado Datalytics"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/CertificadodeData&Analytics.png"
                                class="card-img-top fotos"
                                alt="Certificado Datalytics"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/CertificadodeData&Analytics.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h2>Data & Analitics - Datalytics</h2>
              <p class="card-text">
                En colaboración con Silicon Misiones y la empresa Datalytics,
                participé en un curso especializado en análisis de datos que
                enriqueció aún más mis habilidades. Durante este programa,
                adquirí una sólida comprensión de bases de datos relacionales,
                así como un dominio de SQL y la visualización de datos
                utilizando herramientas avanzadas.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

            
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop5" style="background-color: #20202000; margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/AnalistaDeDatos.png"
                                class="card-img-top fotos"
                                alt="Certificado Analista de datos - Coderhouse"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/AnalistaDeDatos.png"
                                class="card-img-top fotos"
                                alt="Certificado Analista de datos - Coderhouse"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/AnalistaDeDatos.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="card-body">
              <h2>Analista de datos - Coderhouse</h2>
              <p class="card-text">
                En Coderhouse, estudié análisis de datos y adquirí conocimientos
                sólidos en bases de datos relacionales y visualización de datos
                con Power BI. Utilicé estas habilidades para desarrollar un
                dashboard en Power BI sobre la pandemia de COVID-19 en
                Latinoamérica.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

             <!-- Button trigger modal -->
             <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop6" style="background-color: #20202000; margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/DataScience.png"
                                class="card-img-top fotos"
                                alt="Certificado Ciencia de datos - Coderhouse"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/DataScience.png"
                                class="card-img-top fotos"
                                alt="Certificado Ciencia de datos - Coderhouse"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/DataScience.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h2>Ciencia de datos - Coderhouse</h2>
              <p class="card-text">
                En Coderhouse tambien estudié ciencia de datos y adquirí
                conocimientos en algoritmos de machine learning y deep learning,
                utilice librerias de python para visualizacion y manejo de
                grandes volumenes de datos. Utilicé estas habilidades para
                entrenar un algoritmo que prediga resultados de partidos de
                futbol, tambien entrene un algoritmo que predice valores
                estimados de propiedades segun su ubicacion, metros cuadrados y
                otros parametros. Realice estos y otros proyectos para lograr la
                certificacion.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

             <!-- Button trigger modal -->
             <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop7" style="background-color: #20202000;  margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/CarreraDataScientistFlex-1.png"
                                class="card-img-top fotos"
                                alt="Certificado Carrera de Ciencia de datos Flex - Coderhouse"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop7" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/CarreraDataScientistFlex-1.png"
                                class="card-img-top fotos"
                                alt="Certificado Carrera de Ciencia de datos Flex - Coderhouse"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/CarreraDataScientistFlex.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h2>Carrera de Ciencia de datos Flex - Coderhouse</h2>
              <p class="card-text">
                En Coderhouse tambien estudié ciencia de datos y adquirí
                conocimientos en algoritmos de machine learning y deep learning,
                utilice librerias de python para visualizacion y manejo de
                grandes volumenes de datos.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">


            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop8" style="background-color: #20202000; margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/dataScientistCoder-1.png"
                                class="card-img-top fotos"
                                alt="Certificado Carrera de Ciencia de datos - Coderhouse"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop8" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/dataScientistCoder-1.png"
                                class="card-img-top fotos"
                                alt="Certificado Carrera de Ciencia de datos - Coderhouse"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/dataScientistCoder.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="card-body">
              <h2>Carrera de Ciencia de datos - Coderhouse</h2>
              <p class="card-text">
                En Coderhouse tambien estudié ciencia de datos y adquirí
                conocimientos en algoritmos de machine learning y deep learning,
                utilice librerias de python para visualizacion y manejo de
                grandes volumenes de datos.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop9" style="background-color: #20202000;  margin: auto " >
              <img
                                src="../../../assets/imagenes/certificaciones/CertificadoYoProgramo.png"
                                class="card-img-top fotos"
                                alt="Certificado Full Stack Developer - Argentina Programa"/>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop9" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button"  style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/CertificadoYoProgramo.png"
                                class="card-img-top fotos"
                                alt="Certificado Full Stack Developer - Argentina Programa"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/CertificadoYoProgramo.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h2>Full Stack Developer - Argentina Programa</h2>
              <p class="card-text">
                En el curso de Argentina Programa, me formé como desarrollador
                web full stack, aprendiendo HTML, CSS, JavaScript, Angular,
                Spring Boot y MySQL. Desarrollé este portfolio como resultado de
                mi aprendizaje, creando aplicaciones web dinámicas y
                funcionales.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">

            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop10" style="background-color: #20202000;  margin: auto " >
              <img
              src="../../../assets/imagenes/certificaciones/ITMasterHTMLYCSS.png"
              class="card-img-top fotos"
              alt="Certificado HTML & CSS - ITMaster - Argentina Programa"/>
            </button>


             <!-- Modal -->
             <div class="modal fade" id="staticBackdrop10" data-bs-backdrop="modal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="background-color: rgba(51, 51, 51, 0.411);">
                  <div class="modal-header">
                    
                    <button type="button" style="background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img
                                src="../../../assets/imagenes/certificaciones/ITMasterHTMLYCSS.png"
                                class="card-img-top fotos"
                                alt="Certificado HTML & CSS - ITMaster - Argentina Programa"/>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary"> <a
                      href="../../../assets/imagenes/certificaciones/ITMasterHTMLYCSS.pdf"
                      download=""
                      style="text-decoration: none; color:white"
                    >Descargar certificado
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <h2>HTML & CSS - ITMaster - Argentina Programa</h2>
              <p class="card-text">
                Parte del curso de ITMaster para Argentina Programa, me formé en
                HTML y CSS
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying4"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying4"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</mat-card>
